{% extends 'base.html' %}
{% block content %}
<section class="main-container">
  <div class="title">
    <h1>Authorization Failure</h1>
  </div>
  <div class="container">
    <div class="shadow-container">
      <div class="authorization-fail-form">
        <div class="row">
          <div class="col-sm-12">
            <div class="authorization-text">
              <p class="semibold">There is a problem with your authorization.</p>
              <p class="semibold">Please call customer support at (555) 555-5555</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}