{% extends 'base.html' %}
{% block content %}

<section class="main-container">
  <div class="title">
    <h1 onmouseenter="mousee('mouse_enter', 'text', 'title', 'recovery_step1')"
        onmouseleave="mousee('mouse_leave', 'text', 'title', 'recovery_step1')">Forgot Password</h1>
  </div>
  <div class="container">
    <div class="step-container forgot-pwd-steps">
      <div class='step-border'></div>
      <div class="row">
        <div class="col-xs-4 col-sm-4"
             onmouseenter="mousee('mouse_enter', 'text', 'step_count1', 'recovery_step1')"
             onmouseleave="mousee('mouse_leave', 'text', 'step_count1', 'recovery_step1')">
          <div class="step step1 active-step">
            <p>STEP</p>
            <p>1 of 3</p>
          </div>
          <h4 class="active-step-text text-left">Personal Information</h4>
        </div>
        <div class="col-xs-4 col-sm-4"
             onmouseenter="mousee('mouse_enter', 'text', 'step_count2', 'recovery_step1')"
             onmouseleave="mousee('mouse_leave', 'text', 'step_count2', 'recovery_step1')">
          <div class="step step2 diable-step">
            <p>STEP</p>
            <p>2 of 3</p>
          </div>
          <h4 class="text-center">Verify Identity</h4>
        </div>
        <div class="col-xs-4 col-sm-4"
             onmouseenter="mousee('mouse_enter', 'text', 'step_count3', 'recovery_step1')"
             onmouseleave="mousee('mouse_leave', 'text', 'step_count3', 'recovery_step1')">
          <div class="step step3 diable-step pull-right">
            <p>STEP</p>
            <p>3 of 3</p>
          </div>
          <h4 class="text-right">Choose New Password</h4>
        </div>
      </div>
    </div>
    <div class="shadow-container">
      <span class="req-text">*Required</span>
      <div class="pwd-step1">
        <div class="row">
          <div class="col-sm-12">
            <div class="welcome-text"
                 onmouseenter="mousee('mouse_enter', 'text', 'subheading', 'recovery_step1')"
                 onmouseleave="mousee('mouse_leave', 'text', 'subheading', 'recovery_step1')">
              <h2 class="text-center">Fill out your personal information</h2>
              <br>
              <!--					  {% if taskLeft > 0 %}-->
              <!--						<p class="text-center" style="color: #690392; font-size: 10px">You have {{taskLeft}} account recovery tasks left for this week.</p>-->
              <!--					  {% endif %}-->
              <!--					  {% if taskLeft == 0 %}-->
              <!--						<p class="text-center" style="color: #690392; font-size: 10px">Account Recovery tasks completed for the week.</p>-->
              <!--					  {% endif %}-->
            </div>
          </div>
        </div>
        <!--              {% if message %}<div class = "attack_info">{{message}}</div> {% endif %}-->
        <div class="pwd-step1-container">
          <div class="row">
            <div class="col-sm-12">

              <form action="{% url 'soteria:forgotpwd2'  %}" autocomplete="off"
                    class="form-horizontal pwdStep1Form" method="post" name="pwdStep1Form" novalidate
                    onmouseenter="mousee('mouse_enter', 'form', 'form', 'recovery_step1')"
                    onmouseleave="mousee('mouse_leave', 'form', 'form', 'recovery_step1')">
                {% csrf_token %}
                <div class="form-group row">
                  <label class="control-label col-sm-3"><span class="req-field"
                                                              onmouseenter="mousee('mouse_enter', 'label', 'memberID', 'recovery_step1')"
                                                              onmouseleave="mousee('mouse_leave', 'label', 'memberID', 'recovery_step1')">*</span>Member
                    ID:</label>
                  <div class="col-sm-9 input-margin  member-id">
                    <input autocomplete="disabled" class="form-field" id="memberId" name="memberId"
                           onmousedown="mouseDownUp(event, 'down', 'input', 'memberID', 'recovery_step1')"
                           onmouseenter="mousee('mouse_enter', 'input', 'memberID', 'recovery_step1')"
                           onmouseleave="mousee('mouse_leave', 'input', 'memberID', 'recovery_step1')"
                           onmouseup="mouseDownUp(event, 'up', 'input', 'memberID', 'recovery_step1')"
                           required
                           type="text">
                    <!--                           <p>{% if not message %}{% if memberId %}Your memberID is {{memberId}}   {% else %}Find your Member ID on your ID card, welcome letter, or any EOB you receive from -->
                    <!--                            us. <a href="void:javascript(0);">Get help locating your Member ID.</a>  {% endif %}{% endif %}</p>-->
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-3"
                         onmouseenter="mousee('mouse_enter', 'label', 'fname', 'recovery_step1')"
                         onmouseleave="mousee('mouse_leave', 'label', 'fname', 'recovery_step1')"><span
                      class="req-field">*</span>First Name:</label>
                  <div class="col-sm-9 input-margin">
                    <input autocomplete="disabled" class="form-field" id="fullFname" name="fullFname"
                           ondrag="return false"
                           ondrop="return false"
                           onkeydown="myFunction2(event, 0, 'Fname')"
                           onkeyup="myFunction2(event, 1, 'Fname')"
                           onmousedown="mouseDownUp(event, 'down', 'input', 'fname', 'recovery_step1')"
                           onmouseenter="mousee('mouse_enter', 'input', 'fname', 'recovery_step1')"
                           onmouseleave="mousee('mouse_leave', 'input', 'fname', 'recovery_step1')"
                           onmouseup="mouseDownUp(event, 'up', 'input', 'fname', 'recovery_step1')"
                           onpaste="return false;"
                           required type="text">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-3"
                         onmouseenter="mousee('mouse_enter', 'label', 'lname', 'recovery_step1')"
                         onmouseleave="mousee('mouse_leave', 'label', 'lname', 'recovery_step1')"><span
                      class="req-field">*</span>Last Name:</label>
                  <div class="col-sm-9 input-margin">
                    <input autocomplete="disabled" class="form-field" id="fullLname" name="fullLname"
                           ondrag="return false"
                           ondrop="return false"
                           onkeydown="myFunction2(event, 0, 'Lname')"
                           onkeyup="myFunction2(event, 1, 'Lname')"
                           onmousedown="mouseDownUp(event, 'down', 'input', 'lname', 'recovery_step1')"
                           onmouseenter="mousee('mouse_enter', 'input', 'lname', 'recovery_step1')"
                           onmouseleave="mousee('mouse_leave', 'input', 'lname', 'recovery_step1')"
                           onmouseup="mouseDownUp(event, 'up', 'input', 'lname', 'recovery_step1')"
                           onpaste="return false;"
                           required type="text">
                  </div>
                </div>
                <div class="form-group row input-margin">
                  <label class="control-label col-sm-3"
                         onmouseenter="mousee('mouse_enter', 'label', 'dob', 'recovery_step1')"
                         onmouseleave="mousee('mouse_leave', 'label', 'dob', 'recovery_step1')"><span
                      class="req-field">*</span>Date of Birth:</label>
                  <div>
                    <div class="col-sm-2">
                      <select class="classic form-field" id="month" name="month"
                              onblur="onBlur('month')" onchange="onChange('month')"
                              onclick="mouseClick(this, 'month')"
                              onfocus="onFocus('month')"
                              onkeydown="dropdownKeypress(this, event, 0, 'month'); myFunction2(event, 0, 'month');"
                              onkeyup="myFunction2(event, 1, 'month')"
                              onmousedown="mouseDownUp(event, 'down', 'select', 'month', 'recovery_step1')"
                              onmouseenter="mousee('mouse_enter', 'select', 'month', 'recovery_step1')"
                              onmouseleave="mousee('mouse_leave', 'select', 'month', 'recovery_step1')"
                              onmouseup="mouseDownUp(event, 'up', 'select', 'month', 'recovery_step1')"
                              required>
                        <option value=''>Month</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                      </select>
                    </div>
                    <div class="col-sm-2">
                      <select class="classic form-field" id="day" name="day"
                              onblur="onBlur('day')" onchange="onChange('day')"
                              onclick="mouseClick(this, 'day')" onfocus="onFocus('day')"
                              onkeydown="dropdownKeypress(this, event, 0, 'day'); myFunction2(event, 0, 'day');"
                              onkeyup="myFunction2(event, 1, 'day')"
                              onmousedown="mouseDownUp(event, 'down', 'select', 'day', 'recovery_step1')"
                              onmouseenter="mousee('mouse_enter', 'select', 'day', 'recovery_step1')"
                              onmouseleave="mousee('mouse_leave', 'select', 'day', 'recovery_step1')"
                              onmouseup="mouseDownUp(event, 'up', 'select', 'day', 'recovery_step1')"
                              required>
                        <option value="">Day</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                      </select>
                    </div>
                    <div class="col-sm-2">
                      <select class="classic form-field" id="year" name="year"
                              onblur="onBlur('year')" onchange="onChange('year')"
                              onclick="mouseClick(this, 'year')" onfocus="onFocus('year')"
                              onkeydown="dropdownKeypress(this, event, 0, 'year'); myFunction2(event, 0, 'year');"
                              onkeyup="myFunction2(event, 1, 'year')"
                              onmousedown="mouseDownUp(event, 'down', 'select', 'year', 'recovery_step1')"
                              onmouseenter="mousee('mouse_enter', 'select', 'year', 'recovery_step1')"
                              onmouseleave="mousee('mouse_leave', 'select', 'year', 'recovery_step1')"
                              onmouseup="mouseDownUp(event, 'up', 'select', 'year', 'recovery_step1')"
                              required>
                        <option value="">Year</option>
                        <option value='1960'>1960</option>
                        <option value='1961'>1961</option>
                        <option value='1962'>1962</option>
                        <option value='1963'>1963</option>
                        <option value='1964'>1964</option>
                        <option value='1965'>1965</option>
                        <option value='1966'>1966</option>
                        <option value='1967'>1967</option>
                        <option value='1968'>1968</option>
                        <option value='1969'>1969</option>
                        <option value='1970'>1970</option>
                        <option value='1971'>1971</option>
                        <option value='1972'>1972</option>
                        <option value='1973'>1973</option>
                        <option value='1974'>1974</option>
                        <option value='1975'>1975</option>
                        <option value='1976'>1976</option>
                        <option value='1977'>1977</option>
                        <option value='1978'>1978</option>
                        <option value='1979'>1979</option>
                        <option value='1980'>1980</option>
                        <option value='1981'>1981</option>
                        <option value='1982'>1982</option>
                        <option value='1983'>1983</option>
                        <option value='1984'>1984</option>
                        <option value='1985'>1985</option>
                        <option value='1986'>1986</option>
                        <option value='1987'>1987</option>
                        <option value='1988'>1988</option>
                        <option value='1989'>1989</option>
                        <option value='1990'>1990</option>
                        <option value='1991'>1991</option>
                        <option value='1992'>1992</option>
                        <option value='1993'>1993</option>
                        <option value='1994'>1994</option>
                        <option value='1995'>1995</option>
                        <option value='1996'>1996</option>
                        <option value='1997'>1997</option>
                        <option value='1998'>1998</option>
                        <option value='1999'>1999</option>
                        <option value='2000'>2000</option>
                        <option value='2001'>2001</option>
                        <option value='2002'>2002</option>
                        <option value='2003'>2003</option>
                        <option value='2004'>2004</option>
                        <option value='2005'>2005</option>
                      </select>
                    </div>
                    <p class="clearfix col-sm-offset-3 col-sm-12" id="dob-error"></p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-3"
                         onmouseenter="mousee('mouse_enter', 'label', 'address', 'recovery_step1')"
                         onmouseleave="mousee('mouse_leave', 'label', 'address', 'recovery_step1')"><span
                      class="req-field">*</span>Address:</label>
                  <div class="col-sm-9 input-margin">
                    <input autocomplete="disabled" class="form-field" id="address" name="address"
                           ondrag="return false"
                           ondrop="return false"
                           onkeydown="myFunction2(event, 0, 'address')"
                           onkeyup="myFunction2(event, 1, 'address')"
                           onmousedown="mouseDownUp(event, 'down', 'input', 'address', 'recovery_step1')"
                           onmouseenter="mousee('mouse_enter', 'input', 'address', 'recovery_step1')"
                           onmouseleave="mousee('mouse_leave', 'input', 'address', 'recovery_step1')"
                           onmouseup="mouseDownUp(event, 'up', 'input', 'address', 'recovery_step1')"
                           onpaste="return false;" required
                           type="text">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-3"
                         onmouseenter="mousee('mouse_enter', 'label', 'city', 'recovery_step1')"
                         onmouseleave="mousee('mouse_leave', 'label', 'city', 'recovery_step1')"><span
                      class="req-field">*</span>City:</label>
                  <div class="col-sm-9 input-margin">
                    <input autocomplete="disabled" class="form-field" id="city" name="city"
                           ondrag="return false"
                           ondrop="return false"
                           onkeydown="myFunction2(event, 0, 'city')"
                           onkeyup="myFunction2(event, 1, 'city')"
                           onmousedown="mouseDownUp(event, 'down', 'input', 'city', 'recovery_step1')"
                           onmouseenter="mousee('mouse_enter', 'input', 'city', 'recovery_step1')"
                           onmouseleave="mousee('mouse_leave', 'input', 'city', 'recovery_step1')"
                           onmouseup="mouseDownUp(event, 'up', 'input', 'city', 'recovery_step1')"
                           onpaste="return false;"
                           required type="text">
                  </div>
                </div>
                <div class="form-group row input-margin">
                  <label class="control-label col-sm-3"
                         onmouseenter="mousee('mouse_enter', 'label', 'state', 'recovery_step1')"
                         onmouseleave="mousee('mouse_leave', 'label', 'state', 'recovery_step1')"><span
                      class="req-field">*</span>State:</label>
                  <div class="col-sm-3">
                    <select class="classic form-field" id="state" name="state"
                            onblur="onBlur('state')" onchange="onChange('state')"
                            onclick="mouseClick(this, 'state')" onfocus="onFocus('state')"
                            onkeydown="dropdownKeypress(this, event, 0, 'state'); myFunction2(event, 0, 'state');"
                            onkeyup="myFunction2(event, 1, 'state')"
                            onmousedown="mouseDownUp(event, 'down', 'select', 'state', 'recovery_step1')"
                            onmouseenter="mousee('mouse_enter', 'select', 'state', 'recovery_step1')"
                            onmouseleave="mousee('mouse_leave', 'select', 'state', 'recovery_step1')"
                            onmouseup="mouseDownUp(event, 'up', 'select', 'state', 'recovery_step1')"
                            required>
                      <option value=''>Select</option>
                      <option value="AL">Alabama</option>
                      <option value="AK">Alaska</option>
                      <option value="AZ">Arizona</option>
                      <option value="AR">Arkansas</option>
                      <option value="CA">California</option>
                      <option value="CO">Colorado</option>
                      <option value="CT">Connecticut</option>
                      <option value="DE">Delaware</option>
                      <option value="DC">District Of Columbia</option>
                      <option value="FL">Florida</option>
                      <option value="GA">Georgia</option>
                      <option value="HI">Hawaii</option>
                      <option value="ID">Idaho</option>
                      <option value="IL">Illinois</option>
                      <option value="IN">Indiana</option>
                      <option value="IA">Iowa</option>
                      <option value="KS">Kansas</option>
                      <option value="KY">Kentucky</option>
                      <option value="LA">Louisiana</option>
                      <option value="ME">Maine</option>
                      <option value="MD">Maryland</option>
                      <option value="MA">Massachusetts</option>
                      <option value="MI">Michigan</option>
                      <option value="MN">Minnesota</option>
                      <option value="MS">Mississippi</option>
                      <option value="MO">Missouri</option>
                      <option value="MT">Montana</option>
                      <option value="NE">Nebraska</option>
                      <option value="NV">Nevada</option>
                      <option value="NH">New Hampshire</option>
                      <option value="NJ">New Jersey</option>
                      <option value="NM">New Mexico</option>
                      <option value="NY">New York</option>
                      <option value="NC">North Carolina</option>
                      <option value="ND">North Dakota</option>
                      <option value="OH">Ohio</option>
                      <option value="OK">Oklahoma</option>
                      <option value="OR">Oregon</option>
                      <option value="PA">Pennsylvania</option>
                      <option value="RI">Rhode Island</option>
                      <option value="SC">South Carolina</option>
                      <option value="SD">South Dakota</option>
                      <option value="TN">Tennessee</option>
                      <option value="TX">Texas</option>
                      <option value="UT">Utah</option>
                      <option value="VT">Vermont</option>
                      <option value="VA">Virginia</option>
                      <option value="WA">Washington</option>
                      <option value="WV">West Virginia</option>
                      <option value="WI">Wisconsin</option>
                      <option value="WY">Wyoming</option>
                    </select>
                  </div>
                  <p class="clearfix col-sm-offset-3 col-sm-9" id="state-error"></p>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-3"
                         onmouseenter="mousee('mouse_enter', 'lebel', 'zip', 'recovery_step1')"
                         onmouseleave="mousee('mouse_leave', 'label', 'zip', 'recovery_step1')"><span
                      class="req-field">*</span>Zip Code:</label>
                  <div class="col-sm-9 input-margin">
                    <input autocomplete="disabled" class="form-field" id="zipcode" name="zipcode"
                           ondrag="return false"
                           ondrop="return false"
                           onkeydown="myFunction2(event, 0, 'zip')"
                           onkeyup="myFunction2(event, 1, 'zip')"
                           onmousedown="mouseDownUp(event, 'down', 'input', 'zip', 'recovery_step1')"
                           onmouseenter="mousee('mouse_enter', 'input', 'zip', 'recovery_step1')"
                           onmouseleave="mousee('mouse_leave', 'input', 'zip', 'recovery_step1')"
                           onmouseup="mouseDownUp(event, 'up', 'input', 'zip', 'recovery_step1')"
                           onpaste="return false;"
                           required type="text">
                  </div>
                </div>
                <div class="form-group row  input-margin">
                  <label class="control-label col-sm-3"
                         onmouseenter="mousee('mouse_enter', 'label', 'country', 'recovery_step1')"
                         onmouseleave="mousee('mouse_leave', 'label', 'country', 'recovery_step1')"><span
                      class="req-field">*</span>Country:</label>
                  <div class="col-sm-4">
                    <select class="classic form-field" id="country" name="country"
                            onblur="onBlur('country')" onchange="onChange('country')"
                            onclick="mouseClick(this, 'country')" onfocus="onFocus('country')"
                            onkeydown="dropdownKeypress(this, event, 0, 'country'); myFunction2(event, 0, 'country');"
                            onkeyup="myFunction2(event, 1, 'country')"
                            onmousedown="mouseDownUp(event, 'down', 'select', 'country', 'recovery_step1')"
                            onmouseenter="mousee('mouse_enter', 'select', 'country', 'recovery_step1')"
                            onmouseleave="mousee('mouse_leave', 'select', 'country', 'recovery_step1')"
                            onmouseup="mouseDownUp(event, 'up', 'select', 'country', 'recovery_step1')"
                            required>
                      <option value="AFG">Afghanistan</option>
                      <option value="ALA">Aland Islands</option>
                      <option value="ALB">Albania</option>
                      <option value="DZA">Algeria</option>
                      <option value="ASM">American Samoa</option>
                      <option value="AND">Andorra</option>
                      <option value="AGO">Angola</option>
                      <option value="AIA">Anguilla</option>
                      <option value="ATA">Antarctica</option>
                      <option value="ATG">Antigua and Barbuda</option>
                      <option value="ARG">Argentina</option>
                      <option value="ARM">Armenia</option>
                      <option value="ABW">Aruba</option>
                      <option value="AUS">Australia</option>
                      <option value="AUT">Austria</option>
                      <option value="AZE">Azerbaijan</option>
                      <option value="BHS">Bahamas</option>
                      <option value="BHR">Bahrain</option>
                      <option value="BGD">Bangladesh</option>
                      <option value="BRB">Barbados</option>
                      <option value="BLR">Belarus</option>
                      <option value="BEL">Belgium</option>
                      <option value="BLZ">Belize</option>
                      <option value="BEN">Benin</option>
                      <option value="BMU">Bermuda</option>
                      <option value="BTN">Bhutan</option>
                      <option value="BOL">Bolivia, Plurinational State of</option>
                      <option value="BES">Bonaire, Sint Eustatius and Saba</option>
                      <option value="BIH">Bosnia and Herzegovina</option>
                      <option value="BWA">Botswana</option>
                      <option value="BVT">Bouvet Island</option>
                      <option value="BRA">Brazil</option>
                      <option value="IOT">British Indian Ocean Territory</option>
                      <option value="BRN">Brunei Darussalam</option>
                      <option value="BGR">Bulgaria</option>
                      <option value="BFA">Burkina Faso</option>
                      <option value="BDI">Burundi</option>
                      <option value="KHM">Cambodia</option>
                      <option value="CMR">Cameroon</option>
                      <option value="CAN">Canada</option>
                      <option value="CPV">Cape Verde</option>
                      <option value="CYM">Cayman Islands</option>
                      <option value="CAF">Central African Republic</option>
                      <option value="TCD">Chad</option>
                      <option value="CHL">Chile</option>
                      <option value="CHN">China</option>
                      <option value="CXR">Christmas Island</option>
                      <option value="CCK">Cocos (Keeling) Islands</option>
                      <option value="COL">Colombia</option>
                      <option value="COM">Comoros</option>
                      <option value="COG">Congo</option>
                      <option value="COD">Congo, the Democratic Republic of the</option>
                      <option value="COK">Cook Islands</option>
                      <option value="CRI">Costa Rica</option>
                      <option value="CIV">Cote d'Ivoire</option>
                      <option value="HRV">Croatia</option>
                      <option value="CUB">Cuba</option>
                      <option value="CUW">Curacao</option>
                      <option value="CYP">Cyprus</option>
                      <option value="CZE">Czech Republic</option>
                      <option value="DNK">Denmark</option>
                      <option value="DJI">Djibouti</option>
                      <option value="DMA">Dominica</option>
                      <option value="DOM">Dominican Republic</option>
                      <option value="ECU">Ecuador</option>
                      <option value="EGY">Egypt</option>
                      <option value="SLV">El Salvador</option>
                      <option value="GNQ">Equatorial Guinea</option>
                      <option value="ERI">Eritrea</option>
                      <option value="EST">Estonia</option>
                      <option value="ETH">Ethiopia</option>
                      <option value="FLK">Falkland Islands (Malvinas)</option>
                      <option value="FRO">Faroe Islands</option>
                      <option value="FJI">Fiji</option>
                      <option value="FIN">Finland</option>
                      <option value="FRA">France</option>
                      <option value="GUF">French Guiana</option>
                      <option value="PYF">French Polynesia</option>
                      <option value="ATF">French Southern Territories</option>
                      <option value="GAB">Gabon</option>
                      <option value="GMB">Gambia</option>
                      <option value="GEO">Georgia</option>
                      <option value="DEU">Germany</option>
                      <option value="GHA">Ghana</option>
                      <option value="GIB">Gibraltar</option>
                      <option value="GRC">Greece</option>
                      <option value="GRL">Greenland</option>
                      <option value="GRD">Grenada</option>
                      <option value="GLP">Guadeloupe</option>
                      <option value="GUM">Guam</option>
                      <option value="GTM">Guatemala</option>
                      <option value="GGY">Guernsey</option>
                      <option value="GIN">Guinea</option>
                      <option value="GNB">Guinea-Bissau</option>
                      <option value="GUY">Guyana</option>
                      <option value="HTI">Haiti</option>
                      <option value="HMD">Heard Island and McDonald Islands</option>
                      <option value="VAT">Holy See (Vatican City State)</option>
                      <option value="HND">Honduras</option>
                      <option value="HKG">Hong Kong</option>
                      <option value="HUN">Hungary</option>
                      <option value="ISL">Iceland</option>
                      <option value="IND">India</option>
                      <option value="IDN">Indonesia</option>
                      <option value="IRN">Iran, Islamic Republic of</option>
                      <option value="IRQ">Iraq</option>
                      <option value="IRL">Ireland</option>
                      <option value="IMN">Isle of Man</option>
                      <option value="ISR">Israel</option>
                      <option value="ITA">Italy</option>
                      <option value="JAM">Jamaica</option>
                      <option value="JPN">Japan</option>
                      <option value="JEY">Jersey</option>
                      <option value="JOR">Jordan</option>
                      <option value="KAZ">Kazakhstan</option>
                      <option value="KEN">Kenya</option>
                      <option value="KIR">Kiribati</option>
                      <option value="PRK">Korea, Democratic People's Republic of</option>
                      <option value="KOR">Korea, Republic of</option>
                      <option value="KWT">Kuwait</option>
                      <option value="KGZ">Kyrgyzstan</option>
                      <option value="LAO">Lao People's Democratic Republic</option>
                      <option value="LVA">Latvia</option>
                      <option value="LBN">Lebanon</option>
                      <option value="LSO">Lesotho</option>
                      <option value="LBR">Liberia</option>
                      <option value="LBY">Libya</option>
                      <option value="LIE">Liechtenstein</option>
                      <option value="LTU">Lithuania</option>
                      <option value="LUX">Luxembourg</option>
                      <option value="MAC">Macao</option>
                      <option value="MKD">Macedonia, the former Yugoslav Republic of</option>
                      <option value="MDG">Madagascar</option>
                      <option value="MWI">Malawi</option>
                      <option value="MYS">Malaysia</option>
                      <option value="MDV">Maldives</option>
                      <option value="MLI">Mali</option>
                      <option value="MLT">Malta</option>
                      <option value="MHL">Marshall Islands</option>
                      <option value="MTQ">Martinique</option>
                      <option value="MRT">Mauritania</option>
                      <option value="MUS">Mauritius</option>
                      <option value="MYT">Mayotte</option>
                      <option value="MEX">Mexico</option>
                      <option value="FSM">Micronesia, Federated States of</option>
                      <option value="MDA">Moldova, Republic of</option>
                      <option value="MCO">Monaco</option>
                      <option value="MNG">Mongolia</option>
                      <option value="MNE">Montenegro</option>
                      <option value="MSR">Montserrat</option>
                      <option value="MAR">Morocco</option>
                      <option value="MOZ">Mozambique</option>
                      <option value="MMR">Myanmar</option>
                      <option value="NAM">Namibia</option>
                      <option value="NRU">Nauru</option>
                      <option value="NPL">Nepal</option>
                      <option value="NLD">Netherlands</option>
                      <option value="NCL">New Caledonia</option>
                      <option value="NZL">New Zealand</option>
                      <option value="NIC">Nicaragua</option>
                      <option value="NER">Niger</option>
                      <option value="NGA">Nigeria</option>
                      <option value="NIU">Niue</option>
                      <option value="NFK">Norfolk Island</option>
                      <option value="MNP">Northern Mariana Islands</option>
                      <option value="NOR">Norway</option>
                      <option value="OMN">Oman</option>
                      <option value="PAK">Pakistan</option>
                      <option value="PLW">Palau</option>
                      <option value="PSE">Palestinian Territory, Occupied</option>
                      <option value="PAN">Panama</option>
                      <option value="PNG">Papua New Guinea</option>
                      <option value="PRY">Paraguay</option>
                      <option value="PER">Peru</option>
                      <option value="PHL">Philippines</option>
                      <option value="PCN">Pitcairn</option>
                      <option value="POL">Poland</option>
                      <option value="PRT">Portugal</option>
                      <option value="PRI">Puerto Rico</option>
                      <option value="QAT">Qatar</option>
                      <option value="REU">Reunion</option>
                      <option value="ROU">Romania</option>
                      <option value="RUS">Russian Federation</option>
                      <option value="RWA">Rwanda</option>
                      <option value="BLM">Saint Barthelemy</option>
                      <option value="SHN">Saint Helena, Ascension and Tristan da Cunha</option>
                      <option value="KNA">Saint Kitts and Nevis</option>
                      <option value="LCA">Saint Lucia</option>
                      <option value="MAF">Saint Martin (French part)</option>
                      <option value="SPM">Saint Pierre and Miquelon</option>
                      <option value="VCT">Saint Vincent and the Grenadines</option>
                      <option value="WSM">Samoa</option>
                      <option value="SMR">San Marino</option>
                      <option value="STP">Sao Tome and Principe</option>
                      <option value="SAU">Saudi Arabia</option>
                      <option value="SEN">Senegal</option>
                      <option value="SRB">Serbia</option>
                      <option value="SYC">Seychelles</option>
                      <option value="SLE">Sierra Leone</option>
                      <option value="SGP">Singapore</option>
                      <option value="SXM">Sint Maarten (Dutch part)</option>
                      <option value="SVK">Slovakia</option>
                      <option value="SVN">Slovenia</option>
                      <option value="SLB">Solomon Islands</option>
                      <option value="SOM">Somalia</option>
                      <option value="ZAF">South Africa</option>
                      <option value="SGS">South Georgia and the South Sandwich Islands</option>
                      <option value="SSD">South Sudan</option>
                      <option value="ESP">Spain</option>
                      <option value="LKA">Sri Lanka</option>
                      <option value="SDN">Sudan</option>
                      <option value="SUR">Suriname</option>
                      <option value="SJM">Svalbard and Jan Mayen</option>
                      <option value="SWZ">Swaziland</option>
                      <option value="SWE">Sweden</option>
                      <option value="CHE">Switzerland</option>
                      <option value="SYR">Syrian Arab Republic</option>
                      <option value="TWN">Taiwan, Province of China</option>
                      <option value="TJK">Tajikistan</option>
                      <option value="TZA">Tanzania, United Republic of</option>
                      <option value="THA">Thailand</option>
                      <option value="TLS">Timor-Leste</option>
                      <option value="TGO">Togo</option>
                      <option value="TKL">Tokelau</option>
                      <option value="TON">Tonga</option>
                      <option value="TTO">Trinidad and Tobago</option>
                      <option value="TUN">Tunisia</option>
                      <option value="TUR">Turkey</option>
                      <option value="TKM">Turkmenistan</option>
                      <option value="TCA">Turks and Caicos Islands</option>
                      <option value="TUV">Tuvalu</option>
                      <option value="UGA">Uganda</option>
                      <option value="UKR">Ukraine</option>
                      <option value="ARE">United Arab Emirates</option>
                      <option value="GBR">United Kingdom</option>
                      <option selected="selected" value="USA">United States</option>
                      <option value="UMI">United States Minor Outlying Islands</option>
                      <option value="URY">Uruguay</option>
                      <option value="UZB">Uzbekistan</option>
                      <option value="VUT">Vanuatu</option>
                      <option value="VEN">Venezuela, Bolivarian Republic of</option>
                      <option value="VNM">Viet Nam</option>
                      <option value="VGB">Virgin Islands, British</option>
                      <option value="VIR">Virgin Islands, U.S.</option>
                      <option value="WLF">Wallis and Futuna</option>
                      <option value="ESH">Western Sahara</option>
                      <option value="YEM">Yemen</option>
                      <option value="ZMB">Zambia</option>
                      <option value="ZWE">Zimbabwe</option>
                    </select>
                  </div>
                  <p class="clearfix col-sm-offset-3 col-sm-9" id="country-error"></p>
                </div>

                <div class="form-group row">
                  <label class="control-label col-sm-3"
                         onmouseenter="mousee('mouse_enter', 'label', 'phone', 'recovery_step1')"
                         onmouseleave="mousee('mouse_leave', 'label', 'phone', 'recovery_step1')"><span
                      class="req-field">*</span>Phone:</label>
                  <div class="col-sm-9 input-margin">
                    <input autocomplete="disabled" class="form-field" id="phone" name="phone"
                           ondrag="return false"
                           ondrop="return false" onkeydown="myFunction2(event, 0, 'phone')"
                           onkeyup="myFunction2(event, 1, 'phone')"
                           onmousedown="mouseDownUp(event, 'down', 'input', 'phone', 'recovery_step1')"
                           onmouseenter="mousee('mouse_enter', 'input', 'phone', 'recovery_step1')"
                           onmouseleave="mousee('mouse_leave', 'input', 'phone', 'recovery_step1')"
                           onmouseup="mouseDownUp(event, 'up', 'input', 'phone', 'recovery_step1')"
                           onpaste="return false;" required
                           type="tel">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-3"
                         onmouseenter="mousee('mouse_enter', 'label', 'email', 'recovery_step1')"
                         onmouseleave="mousee('mouse_leave', 'label', 'email', 'recovery_step1')"><span
                      class="req-field">*</span>Email:</label>
                  <div class="col-sm-9 input-margin">
                    <input autocomplete="disabled" class="form-field" id="email" name="email"
                           ondrag="return false"
                           ondrop="return false"
                           onkeydown="myFunction2(event, 0, 'email')"
                           onkeyup="myFunction2(event, 1, 'email')"
                           onmousedown="mouseDownUp(event, 'down', 'input', 'email', 'recovery_step1')"
                           onmouseenter="mousee('mouse_enter', 'input', 'email', 'recovery_step1')"
                           onmouseleave="mousee('mouse_leave', 'input', 'email', 'recovery_step1')"
                           onmouseup="mouseDownUp(event, 'up', 'input', 'email', 'recovery_step1')"
                           onpaste="return false;" required
                           type="email">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-3"
                         onmouseenter="mousee('mouse_enter', 'label', 're-email', 'recovery_step1')"
                         onmouseleave="mousee('mouse_leave', 'label', 're-email', 'recovery_step1')">Re-Type
                    Email:</label>
                  <div class="col-sm-9 input-margin">
                    <input autocomplete="disabled" class="form-field" data-optional="req" id="reTypeEmail"
                           name="reTypeEmail"
                           ondrag="return false"
                           ondrop="return false"
                           onkeydown="myFunction2(event, 0, 'reEmail')"
                           onkeyup="myFunction2(event, 1, 'reEmail')"
                           onmousedown="mouseDownUp(event, 'down', 'input', 're-email', 'recovery_step1')"
                           onmouseenter="mousee('mouse_enter', 'input', 're-email', 'recovery_step1')"
                           onmouseleave="mousee('mouse_leave', 'input', 're-email', 'recovery_step1')"
                           onmouseup="mouseDownUp(event, 'up', 'input', 're-email', 'recovery_step1')"
                           onpaste="return false;" type="email">
                  </div>
                </div>
                <div class="form-group row secure-btn">
                  <div class="col-sm-5">
                    <a class="btn btn-large" href="../"
                       onmousedown="mouseDownUp(event, 'down', 'button', 'back', 'recovery_step1')"
                       onmouseenter="mousee('mouse_enter', 'button', 'back', 'recovery_step1')"
                       onmouseleave="mousee('mouse_leave', 'button', 'back', 'recovery_step1')"
                       onmouseup="mouseDownUp(event, 'up', 'button', 'back', 'recovery_step1')"
                       title="back to login screen">Back</a>
                  </div>
                  <div class="col-sm-5">
                    <button class="btn btn-large"
                            onmousedown="mouseDownUp(event, 'down', 'button', 'continue', 'recovery_step1')"
                            onmouseenter="mousee('mouse_enter', 'button', 'continue', 'recovery_step1')"
                            onmouseleave="mousee('mouse_leave', 'button', 'continue', 'recovery_step1')"
                            onmouseup="mouseDownUp(event, 'up', 'button', 'continue', 'recovery_step1')"
                            type="button">
                      Continue
                    </button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}