{% extends 'base.html' %}
{% block content %}
<section class="main-container">
  <div class="title">
    <h1>New User Registration</h1>
  </div>
  <div class="container">
    <div class="shadow-container">
      <div class="pwd-success">
        <div class="row">
          <div class="col-sm-12">
            <div class="welcome-text">
              {% if message %}
              <h2 class="text-center">Unsuccessful</h2>
              <br><br>
              <p class="text-center">{{message}}</p>
              {% else %}
              <h2 class="text-center" style="color: #7600a6">Email Verification Successful</h2>
              <br><br>
              <h3 class="text-center">Hello {{user_name.fn}} {{user_name.ln}}, your registration is now
                complete. You can proceed to login.</h3>
              <br>
              <!--                          <h3 class="text-center">You are required to complete the enrollment process {{enrol_count}} times</h3>-->
              {% endif %}

            </div>
            {% if message %}
            <div class="form-group row secure-btn">
              <div>
                <!--                              <input type="button" value="Back" onclick="history.back()">-->
                <!--                              <a onclick="history.back()" class="btn btn-large" title="back to home">Back</a>-->
                <a class="btn btn-large" href="/" title="back to home">Back</a>
              </div>
            </div>
            {% else %}
            <div class="form-group row secure-btn">
              <div class="col-sm-6">
                <a class="btn btn-large" href="../" title="back to home">Back</a>
              </div>
              <div class="col-sm-6">
                <a class="btn btn-large" href="../../" title="proceed">Login</a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
